##CONDITIONAL

In [12]:
angka = 1
print(f"isi variabel angka adalah {angka}")
if angka < 10:
  print(f"{angka} lebih kecil dari 10")
  print("Ini masih dibawah if")
print("ini sudah diluar if")

isi variabel angka adalah 1
1 lebih kecil dari 10
Ini masih dibawah if
ini sudah diluar if

In [15]:
# if-else
angka = 15
print(f"isi variabel angka adalah {angka}")
if angka < 10:
  print(f"{angka} lebih kecil dari 10")
else:
  print(f"{angka} lebih besar dari 10")

isi variabel angka adalah 15
15 lebih besar dari 10

In [16]:
angka = 2
print(f"isi variabel dengan angka adalah {angka}")
if angka % 2 == 0:
   print(f"{angka} adalah genap")
else:
  print(f"{angka} adalah ganjil")

isi variabel dengan angka adalah 2
2 adalah genap

In [17]:
angka = 4
if (angka % 2):
  print (f"{angka} bilangan ganjil")
else:
  print (f"{angka} bilangan genap")

4 bilangan genap

In [24]:
angka = 1
print(f"isi variabel angka adalah {angka}")
if angka == 10:
  print(f"{angka} sama dengan 10")
elif angka < 10:
  print(f"{angka} lebih kecil dari 10")
else:
  print(f"{angka} lebih besar dari 10")

isi variabel angka adalah 1
1 lebih kecil dari 10

In [27]:
# studi kasus
# nested if
buahbuahan = ["pepaya", "mangga", "pisang", "jambu", "jeruk"]
if len(buahbuahan) > 3:
  print("Mampir ke toko buah, cari jeruk")
  if 'jeruk' in buahbuahan:
    print("beli jeruk")
  else:
    print("tidak ada jeruk")
    if 'mangga' in buahbuahan:
      print("beli mangga aja deh")
else:
  print("skip, buah-buahan yang dijual kurang variatif")

Mampir ke toko buah, cari jeruk
tidak ada jeruk
beli mangga aja deh

In [29]:
# dosen
# A : [85 - 100]
# B : [65 - 85
# C : [50 - 65
# D : [25 - 50
# E : [0 - 25

angka = 70
if angka > 84.9:
  print(" Anda mendapatkan skor A")
elif angka > 64.9:
  print("Anda mendapatkan skor B")
elif angka > 49.9:
  print("Anda mendapatkan skor C")
elif angka > 24.9:
  print("Anda mendapatkan skor D")
elif angka > 0:
  print("Anda mendapatkan skor E")

Anda mendapatkan skor B

### Loop

In [ ]:
# while
while True:
  print("Nama saya Erick")

In [30]:
# update kondisi
angka = 5
angka

5

In [31]:
angka = angka - 1
angka

4

In [32]:
angka -= 1
angka

3

In [34]:
# while
ulang = 5
while ulang > 0:
  print("Nama saya Erick")
  ulang -= 1

Nama saya Erick
Nama saya Erick
Nama saya Erick
Nama saya Erick
Nama saya Erick

In [39]:
# tabel perkalian 7
i = 1
while i <= 12:
  print(f"{7} x {i} = {7*i}")
  i += 1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84

In [40]:
# kalkulator 5 input
jml_input = 5
hasil = 1
while jml_input > 0:
  angka = input("Masukkan angka : ")
  hasil *= eval(angka)
  jml_input -= 1
print(hasil)

Masukkan angka : 5
Masukkan angka : 7
Masukkan angka : 6
Masukkan angka : 3
Masukkan angka : 4
2520

In [49]:
# developer restoran
print("Ketikkan menu yang ingin anda pesan, jika sudah selesai memesan silahkan ketikkan kata cukup")

Ketikkan menu yang ingin anda pesan, jika sudah selesai memesan silahkan ketikkan kata cukup

In [44]:
# punya mas Ari
pesanan = [teh es]
while pesanan_input != 'cukup':
    pesanan_input = input ("Apa pesanan anda?")
    pesanan.append(pesanan_input)
print(pesanan)

SyntaxError: ignored

In [52]:
buahbuahan = ["pepaya", "mangga", "pisang", "jambu"]
for buah in buahbuahan:
  print(f"buah yang tersedia adalah {buah}")

buah yang tersedia adalah pepaya
buah yang tersedia adalah mangga
buah yang tersedia adalah pisang
buah yang tersedia adalah jambu

In [56]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [57]:
for i in range(len(buahbuahan)):
  print(f"Buah yang tersedia adalah : {buahbuahan[i]}")

Buah yang tersedia adalah : pepaya
Buah yang tersedia adalah : mangga
Buah yang tersedia adalah : pisang
Buah yang tersedia adalah : jambu

In [ ]:
for i in range(1,13):
  print(f"{7} x {i} = {7} x {i}")

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print(f"{i} x {j} = {i*j}")
  print()

In [68]:
# break & continue
for i in range(1,11):
  if i == 4:
    break
  print(i)

1
2
3

In [ ]:
# break & continue
for i in range(1,11):
  if i == 4:
    continue
  print(i)

In [73]:
i = 0
while i <= 10:
  i += 1
  if i == 4:
    continue
  print(i)

1
2
3
5
6
7
8
9
10
11