-- Menghitung jumlah baris pada table
select count(*) from teachers

-- Bisa juga menggunakan nama alias
select count(*) as jumlah_data from teachers

-- bisa juga dengan bentuk seperti ini
select count(*) as jumlah_data
from teachers

-- Select multiple columns
select first_name, last_name, school from teachers

-- Select multiple columns tapi lebih spesifik
select first_name, last_name, school from teachers where school='MIT'

-- perhatikan bahwa datanya tersimpan dalam small capital, liat MIT nya
select first_name, last_name, school from teachers where school='mit'

-- kecuali jika berbentuk binary maka hasilnya tidak akan keluar jika tidak sesuai dgn tabel, contoh
select first_name, last_name, school from teachers where binary school='mit'

-- select multiple columns lebih jauh lagi
select first_name, last_name, school from teachers where school='MIT' or school='Stanford University'

-- bisa juga dijadikan seperti tuple untuk menampilkan script nya
select first_name, last_name, school from teachers where school in ('MIT', 'Stanford University')

-- kombinasi yang lebih jauh lagi
select first_name, last_name, school from teachers where school='MIT' or school='Stanford University' and first_name='lee'

-- Select teachers where salary > 50000
Select * from teachers where salary>50000

-- Select teachers where salary > 50000 tapi diurutkan naik, bisa untuk numerik sekaligus alphabet
Select * from teachers where salary>50000 order by salary ASC

-- select unique schools. kalau pake perintah select school from teachers aja ntar hasilnya ada yang berulang
select DISTINCT school from teachers

-- Kalau pengen menghitung jumlah sekolah yang ada
select count(DISTINCT(school)) from teachers