In [ ]:
# contoh kasus untuk mempersingkat penulisan code
panjang = 10
lebar = 20

luas = panjang*lebar
print(luas)

200

In [ ]:
def hitung_luas_persegi_panjang(panjang, lebar):
  luas = panjang*lebar
  print(luas)

hitung_luas_persegi_panjang(10,20)

200

In [ ]:
def cetak_plus(n):
  if n<=0:
    print("Input salah")
  else:
    for index in range(0,n):
      print("+")

cetak_plus(5)

+
+
+
+
+

In [ ]:
def cetak_angka_genap(daftar_angka):
  hasil = []
  for angka in daftar_angka:
    if angka != 0:
      if angka % 2 == 0:
        hasil.append(angka)
  return hasil

#cetak_angka_genap(daftar_angka=[1,2,3,4,5,6])
output = cetak_angka_genap(daftar_angka = [-10,-9,-8,-7,-6])
print(output)

[-10, -8, -6]

In [ ]:
def cetak_nama_dan_negara(nama,negara="Indonesia"):
  print("Halo",nama,"dari",negara)

cetak_nama_dan_negara("Frank","USA")

Halo Frank dari USA

In [ ]:
#default argument nya negara Indonesia
def cetak_nama_dan_negara(nama,negara="Indonesia"):
  print("Halo",nama,"dari",negara)

cetak_nama_dan_negara("Frank")

Halo Frank dari Indonesia

In [ ]:
# cara 1
cetak_nama_dan_negara("Tom","USA")

# cara 2
cetak_nama_dan_negara(nama="Tom",negara="USA")

# cara 3
cetak_nama_dan_negara("Tom",negara="USA")

Halo Tom dari USA
Halo Tom dari USA
Halo Tom dari USA

In [ ]:
def hitung_luas(mode, bilangan_1=0, bilangan_2=0):
  # jika tidak ada bilangan yang dimasukkan
  if bilangan_1 == 0 and bilangan_2 == 0:
    print("Input harus ada angka")

    # jika bilangan_1 tidak dimasukkan
  elif bilangan_1 == 0:
      print("Input harus ada bilangan_1")

  else:
      # jika hanya ada bilangan_1 dan tidak ada bilangan_2
    if bilangan_2 == 0:
      bilangan_2 = bilangan_1

    if mode == "persegi":
      luas = bilangan_1 * bilangan_2
    else:
      luas = bilangan_1 * bilangan_2 / 2

    # hasil nya bisa diubah ke int atau float biar lebih yakin dan percaya
    return int(luas)

hitung_luas(mode = "segitiga", bilangan_1 = 10, bilangan_2 = 20)

100.0

In [ ]:
# cara ke 1 tanpa menggunakan variable length

def cetak_angka(posisi, daftar_angka):
  if posisi > len(daftar_angka):
    hasil = -1
  else:
    hasil = daftar_angka[posisi]
  return hasil

cetak_angka(3, (10,20,30,40))

40

In [ ]:
# penggunaan simbol asterisk tanpa variabel length

def cetak_angka(posisi, *daftar_angka):
  print(daftar_angka)
  if posisi > len(daftar_angka):
    hasil = -1
  else:
    hasil = daftar_angka[posisi]
  return hasil

cetak_angka(3,10,20,30,40)

(10, 20, 30, 40)

40

In [ ]:
# still bingung
def cek_nilai(**daftar_siswa):
  print(daftar_siswa)

  daftar_nama = list(daftar_siswa.keys())
  daftar_nilai = list(daftar_siswa.values())

  nilai_maks = 0
  nama_maks = ""
  for index, nilai in enumerate (daftar_nilai):
    if nilai >= nilai_maks:
      nilai_maks = nilai
      nama_maks = daftar_nama[index]

  return nama_maks

nama = cek_nilai(anwar=90, budi=40, charlie=100)
print("Nama siswa skor tertinggi:", nama)

{'anwar': 90, 'budi': 40, 'charlie': 100}
Nama siswa skor tertinggi: charlie

In [45]:
import person as psn

In [44]:
import car as car

brands =  ['honda', 'toyota', 'ford']

### FREE PRACTICE

In [ ]:
# NOMOR 7

In [ ]:
# contoh u/ no 8

def cetak_angka_genap(daftar_angka):
  hasil = []
  for angka in daftar_angka:
    if angka != 0:
      if angka % 2 == 0:
        hasil.append(angka)
  return hasil

In [50]:
# NOMOR 8 test 02

teks = "selamat pagi"
vokal = 0
konsonan = 0

def huruf_vokal(teks):
  hasil = []
  for vokal in teks:
    if (vokal=="a", or vokal=="e", or vokal=="i", or vokal=="o", or vokal=="u",  or
       vokal=="A", or vokal== "E", or vokal=="I", or vokal=="O", or vokal=="U")
       vokal = vokal +1
    else:
      konsonan = konsonan +1

print("Jumlah huruf vokal:", vokal)

SyntaxError: ignored

In [ ]:
# NOMOR 8 TEST 02